<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<title>修改广告</title>
</head>
<body>
<div class="pd-20">
	<form  method="post" th:object="${creative}"  class="form form-horizontal" th:action="@{/editAd}" id="dataFrom">
	
			<div class="row cl">
			<label class="form-label col-3"><span class="c-red"></span>广告ID：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" th:field="*{adId}" readonly= "true " />
			</div>
			<div class="col-4"> </div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red"></span>审核理由：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" th:field="*{auditReason}" readonly= "true "/>
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red"></span>审核修改：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" th:field="*{additShow}" />
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<div class="col-9 col-offset-3">
				<input class="btn btn-primary radius" onclick="submitForm()" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
 function submitForm(){
	 
	 var form =document.getElementById("dataFrom");
	 var url ="/editAd";
	 $.ajax({
		 type:"post",
		 url:url,
	     data:$('#dataFrom').serialize(),
	     asyns:false,
	     success: function(data){
	    	 alert("修改成功！");
	    		var index = parent.layer.getFrameIndex(window.name);
				parent.$('#product-list-refresh')[0].click();
				parent.layer.close(index);
	     }
		 
		 
		 
	 }
			 
	 
	 
	 );
	 
 }

</script>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="/lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="/lib/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="/js/H-ui.js"></script>
<script type="text/javascript" src="/js/H-ui.admin.js"></script> 

</body>
</html>