<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ycmedia.dao.AdDao">
	<select id="getAdList" resultType="com.ycmedia.entity.Creative">
		SELECT
			adId,
			r_user.mobile AS uid,
			title,
			content,
			loading_page AS loadingPage,
			audit_reason AS auditReason,
			audit_reason_show AS additShow,
			publish_status AS publishStatus,
			`status`,
			audit_status AS auditStatus,
			address,
			CONCAT_WS(',', longtitude, latitude) AS lonLa
		FROM
			r_creative
		LEFT JOIN r_user ON r_creative.uid = r_user.id
		ORDER BY
			r_creative.create_time DESC
	</select>
	
	<select id="getCreativeTpl" resultType="com.ycmedia.entity.CreativeTpl">
	SELECT id , info , url ,ad_type as adType ,ord from r_creative_tpl   order by id asc
	</select>
	<!-- 根据广告ID查询广告 -->
	<select id="findAdById" resultType="com.ycmedia.entity.Creative">
	select 
		adId,
			uid,
			title,
			content,
			loading_page AS loadingPage,
			audit_reason AS auditReason,
			audit_reason_show AS additShow,
			update_time AS updateTime,
			publish_status AS publishStatus
	
	from r_creative where adId=#{id}
	</select>
	
	<!-- 修改广告审核 -->
	<update id="updateCreative" parameterType="com.ycmedia.entity.Creative">
	 update  r_creative set audit_reason_show=#{creative.additShow} where adId=#{creative.adId}
	</update>
	
</mapper>