<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ycmedia.dao.UserDao">
	<select id="loadAllUsers" resultType="com.ycmedia.entity.User">
	select * from users;
	</select>
	
	<insert id="saveUser" parameterType="com.ycmedia.entity.User">
	  insert into users(username ,password,realname,role,mobile,state) 
	  values(#{user.username},
	  #{user.password},
	  #{user.realname},
	  #{user.role},
	  #{user.mobile},
	  #{user.state})
	</insert>
</mapper>