<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ycmedia.dao.UserDao">
	<select id="loadAllUsers" resultType="com.ycmedia.entity.User">
	select * from admin_user;
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ycmedia.entity.User">
		insert into admin_user(username,password,role,realname,mobile,state,info)
		values(#{username},#{password},#{role},#{realname},#{mobile},#{state},#{info})
	</insert>
	
	<select id="findUserByName" resultType="com.ycmedia.entity.User">
	select * from admin_user where username=#{username}
	
	</select>
</mapper>